@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
   background-color: linen; 
}
.banner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:55vh;  
}
.banner-head{
    color:lightgray;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.banner-head1{
    color:white;
    display: block;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.banner-3{
    margin-top:-7%;
}
.singblog{
    font-family: 'Ysabeau', sans-serif;
}
input{
    background-color: lightgray;
}